 <div class="container col-10">
    <div class="row my-3 justify-content-between" >
          <div class="col-auto">
              <h3>
                Loại cuộc thi
              </h3>
          </div>
                  <div class="col-auto align-items-center">
                     <button type="button" class="btn btn-primary">Thêm loại cuộc thi </button>
                  </div>
    </div>

    {{!-- List loại cuộc thi --}}
      {{!-- {{#each LoaiCuoThis}} --}}
    <div class="row card mb-5">
        <div class="card-header">
            <div class="row">
            
                <div class="col-6 d-flex justify-content-start align-items-center">
                        <div  class="col-auto me-3"><i style="" class="fa-sharp fa-solid fa-circle-user fa-3x">
                        </i></div>
                        <div class="col-auto d-flex flex-column ">
                            {{!-- {{this.Ten}} --}}
                            <h5>{{this.Ten}}</h5>
                            {{!-- {{this.SoLuong}} --}}
                            <h6 class="fw-normal">{{this.SoLuong}}</h6>
                        </div>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center">
                          <button type="button" style="height: 38px;" class="btn btn-primary mx-3">Chỉnh sửa </button>
                         <button type="button" style="height: 38px;"  class="btn btn-primary">Thêm </button>
                </div>
            </div>
            </div>
            <div class="card-body">
                <div class="card-title row align-items-center">
                    <div class="col-md-6 ">
                        <h5>Danh sách cuộc thi</h5>
                    </div>
                    {{!-- Tìm kiếm cuộc thi --}}
                    <div class="col-md-6">
                        <div class="row mb-2">
                            <div class="col offset-xl-5">
                                <input type="Date" class="form-control" placeholder="Nhập ngày thi">
                            </div>
                            <div class="col-auto ps-0">
                                <button type='button' class='btn btn-outline-secondary' id='input-group-button-right'>
                                        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                                        </button>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- List cuộc thi--}}
                <table class="table">
                    <thead>
                        <tr>
                        <th class="col-3">Ngày giờ thi</th>
                        <th class="col-2">Thời gian thi (phút)</th>
                        <th class="col-3">Giám thị</th>
                        <th class="col-2">Trạng thái</th>
                        <th class="col-0.5"></th>
                        <th class="col-0.5"></th>
                        <th class="col-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each TaiKhoans}}
                        <tr class="" >
                            <th class="lh-lg fw-normal" >{{this.NgayGioThi}} </th>
                            <th class="lh-lg fw-normal ">{{this.ThoiGianThi}}</th>
                            <th class="lh-lg fw-normal">{{this.GiamThi}}</th>
                            <th class="lh-lg fw-normal">{{this.TrangThai}}</th>
                            <th class=" ">
                            <button type="button" class="btn btn-primary "><i class="fa-solid fa-trash"></i></button>
                            </th>
                            <th class="">
                            <button type="button" class="btn btn-primary "><i class="fa-solid fa-pencil"></i></button>
                            </th>
                        </tr>
                    
                        {{/each}}
                    </tbody>
                </table>
            </div>
    </div>
  

    {{!-- {{/each}} --}}
 </div>